antares-client[subscriptions]
astropy
django>=6.0,<6.1
django_celery_results
django-celery-beat
django-tables2
flower
hop-client
httpx
confluent_kafka
lasair
lsdb==0.9.0
pittgoogle-client
numpy==2.4.2
pandas==2.3.3
tornado==6.5.4
dask[complete]==2026.1.2
s3fs
prometheus-client
psycopg[binary]
redis
structlog
valkey
watchdog
